		#navbar {
			background-color: black;
			color: white;
			height:95px;
			width:100%;
			border:2px solid;
			border-radius:10px;
		}
		#navbar .navbrand {
			width:12%;
			float:left;
			padding-right:10px;
			font-size:16px;
			margin-left:40px;
		}
		#navbar .navlinks{
			width:95%;
			margin: auto;
			float:right;
			font-size:26px;
		}
		#navbar .navlinks ul{
			list-style-type:none;
		}
		#navbar .navlinks ul li{
			float:right;
			margin-left:10px;
			margin-right:10px;
			padding-top:-100px;
			color:white;
			border-left:2px solid white;
		}
		#navbar .navlinks ul li a:link{
			text-decoration:none;
			padding-left:10px;
			padding-right:10px;
			color:white;
		}
		#navbar .navlinks ul li a:visited{
			color: white;
			border-radius:6px;
			font-size:26px;
		}
		.study{
			width:20%;
			padding-left:10px;
			padding-top:-100px;			
			padding-right:10px;
			font-size:26px;
			margin-top:-80px;
		}
		.achievements{
			width:20%;
			padding-left:10px;
			padding-right:10px;
			font-size:26px;
			margin-top:-80px;
		}
		.upgrade{
			width:20%;
			padding-left:10px;
			padding-right:10px;
			font-size:26px;
			margin-top:-80px;
		}
		.money{
			width:20%;
			padding-left:10px;
			padding-right:10px;		
			font-size:26px;	
			margin-top:-80px;
		}
		.moneys{
			width:25%;
			padding-left:10px;
			padding-right:10px;
		}
		.greens{
			width:25%;
			padding-left:10px;
			padding-right:10px;
			font-size:26px;
		}
		.ingredients{
			float:left;
			width:30%;
			list-style-type:none;
			margin-top:-40px;	
		}
		.research{
			float:right;
			width:30%;
			list-style-type:none;
			margin-top:-40px;	
		}
		.scorebar {
			background-color: rgb(238, 238, 238, 0.6);
			height:270px;
			width:100%;
			border:2px solid;
			border-radius:10px;
			font-family:roboto;
			font-size:30px;
		}
		.paper{
			border:2px solid;
			border-radius:5px;
			width:100%;
			font-size:30px;
		}
		.table{
			border-radius: 10px;
			border: 2px solid;
			width:100%;
			height:17px;
		}
		.table #image{
			width:25%;
			float:left;
		}
		.table img {
			height:128px;
			width:128px;
		}
		.table #nameAndCost{
			width:35%;
			font-size:20px;
			border-left:2px solid;
			margin-top:3px;
		}
		.table button {
			height:128px;
			width: 400px;
			float:right;
			margin:0px;
			padding:0px;
			border:2px solid;
			border-radius:10px;
		}
		.lawns{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}
		.food{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}
		.office{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}
		.stocks{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}						
		.dogs{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}
		.snow{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}
		.handy{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}
		.meetings{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}
		.crypto{
			border:2px solid;
			border-radius:5px;
			width:100%;
		}
		.unlock{
			width:100%;
			height:50px;
			font-family: roboto;
			font-size: 20px;
			font-weight: bold;
		}
		.left button{
			width:100%;
			height:50px;
		}
		.right button{
			width:100%;
			height:50px;
		}
