body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.actions {
    display: flex; /* Use flexbox */
    justify-content: space-around; /* Distribute items evenly along the main axis */
    margin-top: 20px;
}    

.resource-info {
    margin-bottom: 20px;
}

.resource-info ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Optional: remove default padding */
    margin: 0; /* Optional: remove default margin */
}

.actions button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #eee;
}

.hidden {
    display: none;
}

#upgrade-list,
#earn-money-list,
#study-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: left;
}

#upgrade-list li,
#earn-money-list li,
#study-list li {
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    color: green; /* Default color for items */
}

#upgrade-list li:last-child,
#earn-money-list li:last-child,
#study-list li:last-child {
    border-bottom: none;
}

#upgrade-list li:hover,
#earn-money-list li:hover,
#study-list li:hover {
    background-color: #eee;
}

.grayed-out {
    color: gray; /* Color for grayed out items */
}
#achievements-list {
    list-style-type: none;
}